@{
    ViewBag.Title = "UnitDetails";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

@using GridMvc.Html
@model List<AppBanwao.KarryKart.Model.Unit>

<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.min.js"></script>
<div class="row">

    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="active">Unit Details</li>

        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Units</h3>
        <hr />
        @Html.Grid(Model).Columns(columns =>
{
    columns.Add(data => data.UnitID).Titled("ID");
    columns.Add(data => data.Name).Titled("Name");
    
    columns.Add()
        .Titled("Actions")
        .Encoded(false)
        .Sanitized(false)
        .SetWidth(30)
        .RenderValueAs(o => @<a href="@Url.Action("EditUnit", "ProductSettings", new { id = o.UnitID })" class="btn btn-info">Edit <i class="fa fa-edit"></i></a>);
}).WithPaging(20)

        <hr />

        <a href="@Url.Action("CreateUnit","ProductSettings")" class="btn btn-default">Create <i class="fa fa-plus"></i></a>

    </div>
</div>
