@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<script src="~/Scripts/App/ForgotPwdCtrl.js"></script>
<div class="row">

    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("ForgotPassword","Account")">Forgot Password</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <h3><i class="fa fa-key"></i> Forgot Password</h3>
    <hr />
    <div class="col-md-10" ng-controller="ForgotPwdController">
       <form name="forgotForm" novalidate>
              <div class="form-group">
                  <label for="UserID">User ID</label>
                  <input type="text" class="form-control" ng-model="UserID" name="loginUserID" ng-pattern="emailExpression" placeholder="Enter your user ID">
                  <p class="help-block errorMessage" ng-show="forgotForm.loginUserID.$error.pattern">
                      Please provide valid User ID.
                  </p>
              </div>
           <div class="form-group" ng-show="showOtpPanel">
                  <label for="uOtp">Enter OTP</label>
                  <input type="password" ng-model="uOtp" class="form-control" name="otp" placeholder="Please type provided otp" ng-required="true">
                  <p class="help-block errorMessage" ng-show="forgotForm.otp.$invalid && !forgotForm.otp.$pristine">
                      Otp is required.
                  </p>
              </div>
              <div class="form-group" ng-show="showPwdPanel">
                  <label for="newPwd">New Password</label>
                  <input type="password" ng-model="newPwd" class="form-control" name="Pwd" placeholder="Type new password" ng-required="true">
                  <p class="help-block errorMessage" ng-show="forgotForm.Pwd.$invalid && !forgotForm.loginPwd.$pristine">
                      Password is required.
                  </p>
              </div>
              
           <div class="form-group"  ng-show="showPwdPanel">
                  <label for="newcPwd">Confirm Password</label>
                  <input type="password" ng-model="newcPwd" class="form-control" name="cPwd" placeholder="Confirm Password" ng-required="true">
                  <p class="help-block errorMessage" ng-show="forgotForm.cPwd.$invalid && !forgotForm.cPwd.$pristine">
                     Confirm Password is required.
                  </p>
              </div>
           <div class="form-group" ng-show="showmessage">
                  <label ng-model="errortype" class="text-{{errortype}}"> <span ng-bind-html="message"></span> </label>
              </div>

              <button type="submit" class="btn btn-primary" ng-click="validateuser()" ng-disabled="showPwdPanel" ng-hide="showOtpPanel"><i class="fa fa-user"></i> Validate User</button>
           <button type="submit" class="btn btn-primary" ng-click="verifyOtp()" ng-show="showOtpPanel"><i class="fa fa-user"></i> Verfiy OTP</button>
         <button type="submit" class="btn btn-primary" ng-click="setpassword()"  ng-show="showPwdPanel"><i class="fa fa-user" ></i> Reset Password</button>
          </form>
      
    </div>
</div>
